<!DOCTYPE html>
<html lang="eng">
 <head>
  <meta charset="UTF-8">
  <title>Play with firebase</title>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!--css-->
  <style>
    form-control {
      margin: 8;
    }
    label {
      margin-left: 12px;
    }
  </style>
  <!-- firebase -->
  <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>
  </head>
  <body>
   <div class="container">
    <br>
    <!-- JumboTron -->
    <div class="jumbotron bg-success">
      <h1 class="text-center text-white display-2 font-weight-bold" >All Players</h1>
      <div class="text-center">
        <a class="btn-back font-weight-bold display-5" type="link" href="index.html ">go back</a>
      </div>
    </div>
    
    <!-- Show location at the top blue -->
    <p class="location font-weight-bold text-center display-4">location</p>
    <div class="row">
      
      <!-- Play card -->
      <div class="col-xl-6" > 
        <div class="card card-default">
          <div class="card-header bg-dark text-white text-center">
            TRACK PLAYER
          </div>
          <div class="card-body bg-dark">
            <!-- card body 4 inputs -->
            <form role="form">
              
              <div class="form-group row m-1">
                    <div class="select-div">
                     <label for="player-list" class="font-weight-bold text-warning">Who's turn is it? : </label>
                       <select id="player-list" class="players-select text-white bg-dark">
                        <option value="players" class="players-select">player info</option>
                       </select>
                       <label for="score-output" class="text-primary">current score: _ _ _ </label>
                       <!-- <label for="score-input" class="text-white"> * add points: </label> -->
                       <!-- <input type="number" class="form-control" id="score-output"> -->
                    </div>  
          </div>
          <div class="form-group row">
            <label for="score-input" class="text-white mt-2">add points: </label>
            <!-- <label for="score-input" class="text-white"> * enter score: </label> -->
            <div class="col-2">
             <input type="number" class="form-control" id="score-input" placeholder="O">
            </div>
          </div>
            <div class="form-group row">
              <label for="comment-input" class="text-white">comment:</label>
              <textarea rows="5" class="form-control" id="comment-input" placeholder="good bad ugly.."></textarea>
            </div>
            <button class="btn btn-default bg-dark text-white" id="player-user" type="submit" 
              style=" border: 1px solid;">
                new score
            </button>
          </form>
        </div>
      </div>
     </div>

     <!-- Panel showing whos winning: -->
     <div class="col-lg-6">
      <div class="panel panel-default">
       <div class="panel-heading">
        <h3 class="panel-title text-center">Who's winning</h3>
       </div>
       <div class="panel-body" id="scorecard-list">
        <h2 class="member-list"></h2>
       </div>
      </div>
     </div>

  <!-- End of container -->
    </div>
  </div>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="logic/playersCard.js"></script>
</body>

</html>